body {
    font-family: font-family: 'Baloo Bhai', cursive;
    background: #f0f8ff;
  
  }
  h1 {
    color: #00bfff;
  }

.container{
  height:400px;
  width: 1000px;
  position: absolute;
  top: 50%;
  left: 50%;
  background: rgba(225, 225, 0, 0.3);
  padding: 20px,
  border: 1px solid #080308;
}

.title{
  padding-top: 20px;
  font-size: medium;
  text-transform: uppercase;
  text-align: center;
  color: #00bfff;
}

.question{
  padding: 20px;
  background: #00bfff;
  font-size: small;
  border-radius: 20px;
  margin: 10px 0 10px 0;
  color: #f6f6f6;
}

.option{
  width: 470px;
  display: inline-block;
  margin: 10px 0 10px 10px;
  padding: 10px 0 10px 15px;
  vertical-align: middle;
  background: rgba(255, 225, 225, 0.5);
  color: #080308;
  border-radius: 20px;
}

.option:hover{
  background: 00bfff;
  color: #f6f6f6;
}